﻿@model BookManager.ViewModels.TagBookViewModel

@{
    ViewBag.Title = "Add Tag to Book";
}

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-12">
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.Label("Tag", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(m => m.TagID, Model.Tags, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.TagID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-md-6">
                    <input type="submit" value="Add this Tag" class="btn btn-success col-md-6" />
                </div>
                <div class="col-md-6">
                    <a href="@Url.Action("Details", "Books", new { bookID = Model.BookID })" class="btn btn-danger col-md-6">Cancel</a>
                </div>
            </div>

        }
    </div>
</div>
