﻿@model BookManager.DataAccess.Author

@{
    ViewBag.Title = "Create an Author";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.FullName, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FullName, "Full name is required", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(m => m.BiographyNotes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.BiographyNotes, 5, 80, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.BiographyNotes, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Index", "Home")" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>