﻿@model BookManager.DataAccess.Author

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-md-12">
        <h2>Are you sure you want to delete this Author?</h2>
        <h3>Author: @Model.FullName with @Model.Books.Count book(s)</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("DeleteBook", "Authors", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.AuthorID)

            <div class="row">
                <div class="col-md-6">
                    <input type="submit" value="Delete" class="btn btn-default col-md-6" />
                </div>
                <div class="col-md-6">
                    <a href="@Url.Action("Details", "Authors", new { authorID = Model.AuthorID })" class="btn btn-danger col-md-6">Cancel</a>
                </div>
            </div>

        }
    </div>
</div>