﻿@model BookManager.DataAccess.Author

@{
    ViewBag.Tile = "Edit Author";
}

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.AuthorID)


            <div class="form-group">
                @Html.LabelFor(m => m.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
                <div class="col-md-6">
                    <a href="@Url.Action("Details", "Books", new { bookID = Model.BookID })" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>
