﻿@model BookManager.DataAccess.Note


@{
    ViewBag.Title = "Create a Note for " + Model.Book.Title;
}

<div class="row">
    <div class="col-md-12">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(m => m.BookID)

                <div class="form-group">
                    @Html.LabelFor(m => m.PageNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.PageNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.PageNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.NoteContent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.NoteContent, 10, 80, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NoteContent, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Details", "Books", new { bookID = Model.Book.BookID })" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
