﻿@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-12">
        <p>Book Manager is a simple CRUD database to store notes/tags on books I have read or are currently reading. Previously I had a large markdown file to track reading notes, however a simple database will be nice for reviewing. Eventually I want to write my own book(s) about World War I some day.</p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <p>This is an ASP MVC 5 app using Entity Framework 6. I am also familiar with ASP.NET Core (2.2, 3.0) and Entity Framework Core.</p>
    </div>
</div>
