﻿@model IEnumerable<BookManager.DataAccess.Book>

@{
    ViewBag.Title = "Book Manager";
}

<div class="row">
    <div class="col-md-3">
        <a href="@Url.Action("Create", "Books")" class="btn btn-success col-md-12">
            <i class="glyphicon glyphicon-book"></i>
            Add a Book
        </a>
    </div>
    <div class="col-md-3">
        <a href="@Url.Action("Create", "Authors")" class="btn btn-success col-md-12">
            <i class="glyphicon glyphicon-user"></i>
            Add an Author
        </a>
    </div>
    <div class="col-md-3">
        <a href="@Url.Action("Create", "Tags")" class="btn btn-success col-md-12">
            <i class="glyphicon glyphicon-tag"></i>
            Add a Tag
        </a>
    </div>
</div>

<div class="row" style="margin-top:20px;">
    @using (Html.BeginForm())
    {
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <label for="title">Search By Book Title</label>
                    @Html.RadioButton("searchOption", "title", true, new { id = "title" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="tags">Search By Book Tags</label>
                    @Html.RadioButton("searchOption", "tags", new { id = "tags" })
                    <p>Tip: add a list of comma delimited strings for more than one tag</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            @Html.TextBox("searchText", "", new { placeholder = "Search text", @class = "form-control" })
        </div>
        <div class="col-md-4">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    }
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <caption>Books</caption>
            <thead>
                <tr>
                    <th>
                        Title
                        <a href="@Url.Action("Index", "Home", new { sortOption = "titleAsc" })"><span class="glyphicon glyphicon-arrow-up"></span></a>
                        &nbsp;
                        <a href="@Url.Action("Index", "Home", new { sortOption = "titleDesc" })"><span class="glyphicon glyphicon-arrow-down"></span></a>
                    </th>
                    <th>
                        Author
                        <a href="@Url.Action("Index", "Home", new { sortOption = "authorAsc" })"><span class="glyphicon glyphicon-arrow-up"></span></a>
                        &nbsp;
                        <a href="@Url.Action("Index", "Home", new { sortOption = "authorDesc" })"><span class="glyphicon glyphicon-arrow-down"></span></a>
                    </th>
                    <th>Tags</th>
                    <th>
                        Note Count
                        <a href="@Url.Action("Index", "Home", new { sortOption = "noteCountAsc" })"><span class="glyphicon glyphicon-arrow-up"></span></a>
                        &nbsp;
                        <a href="@Url.Action("Index", "Home", new { sortOption = "noteCountDesc" })"><span class="glyphicon glyphicon-arrow-down"></span></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model)
                {
                    <tr>
                        <td><a href="@Url.Action("Details", "Books", new { bookID = book.BookID })">@book.Title</a></td>
                        <td>@book.Author.FullName</td>
                        <td>@book.GetTagsAsCsvString()</td>
                        <td>@book.Notes.Count</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
