﻿@model BookManager.DataAccess.Book

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-md-12">
        <h2>Are you sure you want to delete this book?</h2>
        <h3>Book: @Model.Title by @Model.Author.FullName</h3>
        <h3>Note Count: @Model.Notes.Count</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.BookID)

            <div class="row">
                <div class="col-md-12">
                    <p class="text-warning"><strong>WARNING! All book detail information and all @Model.Notes.Count note(s) associated with the book will be deleted permanently!</strong></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <input type="submit" value="Delete" class="btn btn-danger col-md-6" />
                </div>
                <div class="col-md-6">
                    <a href="@Url.Action("Details", "Book", new { bookID = Model.BookID })" class="btn btn-default col-md-6">Cancel</a>
                </div>
            </div>
        }
    </div>
</div>