﻿@model BookManager.DataAccess.Book

@{
    ViewBag.Title = "Book Details - " + Model.Title;
}

<div class="row">
    <div class="col-md-3">
        <a href="@Url.Action("Create", "Notes", new { bookID = Model.BookID })" class="btn btn-success col-md-12">
            <i class="glyphicon glyphicon-list-alt"></i>
            Add a Note
        </a>
    </div>
    <div class="col-md-3">
        <a href="@Url.Action("AddTagToBook", "Tags", new { bookID = Model.BookID })" class="btn btn-success col-md-12">
            <i class="glyphicon glyphicon-tag"></i>
            Add a Tag
        </a>
    </div>
    <div class="col-md-3">
        <a href="@Url.Action("Edit", new { bookID = Model.BookID })" class="btn btn-warning col-md-12">
            <i class="glyphicon glyphicon-pencil"></i>
            Edit
        </a>
    </div>
    <div class="col-md-3">
        <a href="@Url.Action("Delete", new { bookID = Model.BookID })" class="btn btn-danger col-md-12">
            <i class="glyphicon glyphicon-trash"></i>
            Delete
        </a>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h4>Details</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(m => m.Title)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => m.Author.FullName)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Author.FullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => m.YearPublished)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.YearPublished)
            </dd>
            <dt>
                @Html.DisplayNameFor(m => m.DateStarted)
            </dt>
            <dd>
                @(Model.DateStarted?.ToShortDateString())
            </dd>
            <dt>
                @Html.DisplayNameFor(m => m.DateFinished)
            </dt>
            <dd>
                @(Model.DateFinished?.ToShortDateString())
            </dd>
            <dt>
                @Html.DisplayNameFor(m => m.Rating)
            </dt>
            <dd>
                @Html.DisplayFor(m => m.Rating)
            </dd>


        </dl>
    </div>
    <div class="col-md-4">
        <h4>Tags</h4>
        @if (Model.BookToTags.Any())
        {
            <table class="table table-striped table-hover">
                @foreach (var btt in Model.BookToTags)
                {
                    <tr>
                        <td>@btt.Tag.TagContent</td>
                        <td>
                            <a href="@Url.Action("RemoveTag", "Tags", new { bookID = Model.BookID, tagID = btt.TagID })" class="alert-danger" title="Click to remove this tag from this book">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>No tags added yet.</p>
        }
    </div>
    <div class="col-md-4">
        <h4>@Html.DisplayNameFor(m => m.Review)</h4>

        <p>@Html.DisplayFor(m => m.Review)</p>
    </div>
</div>


<div class="row">
    <div class="col-md-12">

        <h4>Notes</h4>

        @if (Model.Notes.Any())
        {
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Page Number</th>
                        <th>Note Content</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var note in Model.Notes.OrderBy(n => n.PageNumber))
                    {
                        <tr>
                            <td>@note.PageNumber</td>
                            <td>@note.NoteContent</td>
                            <td>
                                <a href="@Url.Action("Edit", "Notes", new { noteID = note.NoteID })" class="btn btn-warning">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    Edit
                                </a>
                            </td>
                            <td>
                                <a href="#" onclick="deleteNote(@note.NoteID)" class="btn btn-danger">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No notes have been added to this book.</p>
        }

    </div>
</div>

<script type="text/javascript">
    function deleteNote(noteID) {
        $.post('@Url.Action("Delete", "Notes")', noteID)
            .done(function () {
                location.reload();
            })
            .fail(function () {
                window.alert("Failed to delete this Note. NoteID: " + noteID + ".");
            });
    }
</script>