﻿@model BookManager.DataAccess.Book

@{
    ViewBag.Title = "Edit Book: " + Model.Title + " by " + Model.Author.FullName;
}

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.BookID)
                @Html.HiddenFor(m => m.AuthorID)

                <div class="form-group">
                    @Html.LabelFor(m => m.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.YearPublished, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.YearPublished, new { htmlAttributes = new { @class = "form-control", style = "max-width:80px;", maxlength = "4" } })
                        @Html.ValidationMessageFor(m => m.YearPublished, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.DateStarted, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.DateStarted, new { htmlAttributes = new { @class = "form-control", style = "max-width: 200px", @type = "date" } })
                        @Html.ValidationMessageFor(m => m.DateStarted, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.DateFinished, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.DateFinished, new { htmlAttributes = new { @class = "form-control", style = "max-width: 200px", @type = "date" } })
                        @Html.ValidationMessageFor(m => m.DateFinished, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Review, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Review, 20, 100, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Review, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.Rating, new { htmlAttributes = new { @class = "form-control", style = "max-width: 80px" } })
                        @Html.ValidationMessageFor(m => m.Rating, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Details", "Books", new { bookID = Model.BookID })" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

